<h3 class="text-center">Add New Singer</h3>

<div class="row">
  <%= form_with model: Singer.new do |f| %>
      <div class="col-12 mb-4">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>

      <div class="col-12 mb-4">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>

      <div class="col-12 mb-4">
        <%= f.label :age %>
        <%= f.number_field :age, class: 'form-control' %>
      </div>

      <div class="col-12 mb-4">
        <%= f.label :nick_name %>
        <%= f.text_field :nick_name, class: 'form-control' %>
      </div>

      <div class="col-12 mb-4">
        <%= f.label :profile_picture %>
        <%= f.file_field :profile_picture %>
      </div><br>

      <%= f.submit class: 'btn btn-success' %>
  <% end %>
</div>